.toggle-topbar {
  .fi-list {
    font-size: rem-calc(25);
  }
}
.top-bar {
  margin-bottom: 20px;
}

.menu li{
  display: inline;
}
.filter_item {
  float: left;
  margin-left: 10px;
  width: auto;
  color: #004991;
  cursor: pointer;
  font-size: 14px;
}
.filter {
  margin: 0 0 0 20px;
  list-style: none;
  float: left;
  height: 40px;

  line-height: 40px;
  white-space: nowrap;
  max-width: 620px;
  overflow: hidden;
}

.container-alba{
  margin-left: 11,5%;
  margin-right: 10%;
}

.orbit-slide {
  h1 {
    text-align: center;
    font-family: "Brush Script MT";
  }
}


.back {
  a {
    opacity: .6;

    font-size: rem-calc(13);
  }
}
